<div class="comments">
  {{#each this}}
    <section class="comment">
        <div class="ui section divider"></div>
      <div class=" comment-username meta">
        <h4>{{user.username}}  on
        {{format_date created_at}}</h4> 
      </div>

      <div class="text">
        {{comment_text}}
      </div>


    </section>

 
  {{/each}}
</div>


{{!-- <h3 class="ui header">Section One</h3>
<div class="ui section divider"></div>
<h3 class="ui header">Section Two</h3> --}}