<form class="ui form login-form form-style">

   <div class="field">
    <label>Email:</label>
    <input type="text" id="email-login" name="email" >
  </div>
  <div class="field">
    <label>Password:</label>
    <input type="password" id="password-login" name="password" >
  </div>
  <button class="ui primary button btn" type="submit">Sign in</button>
    <div class="link">
        <a href="/signup"  id="signup-link">Sign up instead</a>
    </div>
</form>
 


<script src="/javascript/login.js"></script>