
 
<form class="ui form signup-form form-style">
  <div class="field">
    <label>Username:</label>
    <input type="text" id="username-signup" name="username-name">
  </div>

   <div class="field">
    <label>Email:</label>
    <input type="text" id="email-signup" name="email" >
  </div>
  <div class="field">
    <label>Password:</label>
    <input type="password" id="password-signup" name="password" >
  </div>
  <button class="ui primary button btn" type="submit">Sign up</button>
    <div class="link">
        <a href="/login"  id="signin-link">Sign in instead</a>
    </div>
</form>





<script src="/javascript/signup.js"></script>