

<div class="comment-info-section">


<ol class="comment-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>


    
    <div class="comment-info">
        {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea rows="3" name="comment-body"></textarea>
            </div>
            <div>
                <button class="ui small primary button" type="submit">Add comment</button>
            </div>
        </form>
        {{/if}}
        {{> comments post.comments}}
        {{#if loggedIn}}
        <script src="/javascript/comment.js"></script>
        {{/if}}



    </div>    




   




</div>
