
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5a1;
}


/* START navigation styling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 25px;
    font-size: 20px;

}

#icon {
    margin-left: 20px;
    cursor: pointer;
    
}



nav a{
    color: white;
    margin-left: 10px;
}
/* END navigation styling */

/* START footer styling */
footer {
    border-top: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
   
}
/* END footer styling */



/* START form styling */
.form-style {

    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 50px 360px 0 360px;
    padding: 20px;
}

.btn{
    width: 100%;
}

.link{
    margin-top: 10px;
}
/* END footer styling */


/* START dashboard styling */

.new-post-form{
    margin: 50px;
}

section{
    margin: 10px 0 0 25px;
}



/* END dashboard styling */


/* START media queries styling */
@media screen and (max-width: 992px) {
    .form-style {

      margin: 50px 180px 20px 180px;
    }
  }


@media screen and (max-width: 786px) {
    .form-style {
    
      margin: 50px 100px 20px 100px;
    }
  }

@media screen and (max-width: 560px) {
    .form-style{
  
    margin: 50px 50px 10px 50px;

   }
}

/* END media queries styling */





